@page "/NuevoComponente"

<PageTitle>Index</PageTitle>

<h1>Integrantes</h1>
<div>ESTEBAN ENRIQUEZ</div>
<div>MATIAS ROMO</div>
<div>ARIEL CABRERA</div>
Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<a